body {
    font-family: Arial, sans-serif;
    background-color: #f7d1cd; /* Light Pink */
    color: #735d78; /* Deep Mauve */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #e8c2ca; /* Soft Pink */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #735d78; /* Deep Mauve */
    border-radius: 15px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #735d78; /* Deep Mauve */
}

header p {
    margin: 5px 0;
    font-size: 1.2em;
    color: #b392ac; /* Dusky Pink */
}

section {
    margin-bottom: 20px;
    background-color: #d1b3c4; /* Muted Pink */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

section h2 {
    border-bottom: 2px solid #b392ac; /* Dusky Pink */
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: #735d78; /* Deep Mauve */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
    color: #735d78; /* Deep Mauve */
}

a {
    color: #735d78; /* Deep Mauve */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
